#body {

    width: auto;

    height: auto;

    min-height: 100px;

    padding: 20px;

    margin: 20px 0;

    background-color: #0c1728;

    border: 1px solid #1d2c43;

    border-radius: 10px;

    box-sizing: border-box;

}
#headings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#recent-list {

    display: flex;

    flex-direction: column;

}


.recent-item {

    display: flex;

    align-items: center;

    padding: 14px 0;

    border-bottom: 1px solid #1d2c43;

}


.recent-date {

    width: 55px;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    margin-right: 25px;

}


.recent-date strong {

    font-size: 25px;

    color: aliceblue;

}


.recent-date span {

    margin-top: 3px;

    color: #69778d;

    font-size: 11px;

}


.recent-info {

    display: flex;

    flex-direction: column;

    gap: 5px;

    flex: 1;

    min-width: 0;

}


.recent-name {

    color: aliceblue;

    font-size: 20px;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

}


.recent-category {

    color: #69778d;

    font-size: 14px;

}


.recent-amount {

    font-size: 20px;

    font-weight: 600;

    margin-left: 0px;

    white-space: nowrap;

}


#None {

    display: none;

    min-height: 70dvh;

    justify-content: center;

    align-items: center;

    color: #69778d;

    font-size: 20px;
    flex-direction: column;

}
#add-transaction {
    width: 46%;
    height: 42px;
    margin-top: 24px;
    border: none;
    border-radius: 7px;
    background: linear-gradient(135deg, #315cc9, #183b91);
    color: white;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}


@media (max-width: 600px) {

    #content {

        margin: 15px;

    }


    #body {

        padding: 20px;

        margin: 25px 0;

    }


    .recent-date {

        width: 50px;

        margin-right: 10px;

    }


    .recent-date strong {

        font-size: 18px;

    }
    .recent-date span {

        font-size: 8px;

    }


    .recent-name {

        font-size: 13px;

    }


    .recent-category {

        font-size: 11px;

    }


    .recent-amount {

        font-size: 13px;

    }
    #None{
        font-size: 17px;
    }
    #None img{
    width: 70px;
}
 h1{
    font-size: 20px;
  }
  h2{
    font-size: 16px;
  }
 
  
}